.landing-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding-top: 25px;
    height: 100vh;
}

.sections{
    /* background: black; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);

}

.subSections{
    width: 100%;
    max-width: 1208px;
    gap: 25px;
    /* background: black; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    z-index: 10;
    margin: 0 auto;
    padding: 0px 35px;
}