/* 
.first-section{
  box-sizing: border-box;
  position: absolute;
  height: 100px;
  width: 120%;
  bottom: -56px;
  left: -10%;
  margin: auto;
  display: flex;
  align-items: center;
  border: solid .25rem transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  background-clip: padding-box;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.40rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
} 

.combine-container{

  z-index: 9999;

}



.content-wrapper{
  margin-top: 8rem;
  z-index: 1000;  
}

h5{
  z-index: 100;
}

@media (max-width: 600px) {
.first-section {
    height: 60px;
    bottom: -30px;
    width: 140%;
  }

  .content-wrapper {
    margin-top: 4rem;
  }
} */