.signup-container{
    width: 100%;
    height: 60px;
    /* margin-top: 30px; */

}

.buttonContainer-2{
    width: 100%;
    max-width: 200px;
    padding: 15px 16px;
    border-radius: 5px;
    gap: 15px;
    align-self: flex-start;
}

.arrow-icon{
    height: 18px;
    width: 18px;
}

.input-container{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #808080;
    width: 100%;
    max-width: 600px;
    padding: 18px 16px;
    border-radius: 5px;
    /* margin-top: 50px; */
}

.input-container::placeholder{
    font-size: 20px;
}

@media(max-width:608px){
    .signup-container{
        margin-top: 30px;
    }
    
    .signupContext{
        text-align: left;
    }
}