#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  background: #000;
  overflow-x: hidden;
  user-select: none;
  /* caret-color: transparent; */
}

.app-container{
  z-index: -9999;
  /* background: red; */
  height: 100%;
}

*:focus{
  outline: none;
}